body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid grey; /* Add border to the entire table */
}

.custom-table th, .custom-table td {
    border: 1px solid grey; /* Add border to table cells */
    padding: 10px;
    text-align: left;
}

.custom-table th {
    background-color: #f4f4f4; /* Set background color for header */
    border: 1px solid grey; /* Add border to header cells */
}

.custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-image {
    width: 50px; /* Set width */
    height: 50px; /* Set height */
    border-radius: 10px;
}