.header {
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.header h1 {
    margin: 0;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a:not(:nth-child(2))::after {
    content: '|';
    margin-left: 10px;
}